aiohttp==3.9.5
aiosignal==1.3.1
asciitree==0.3.3
asttokens 
attrs==23.2.0
autopep8==2.3.1
black==24.4.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
comm 
configmypy==0.2.0
contourpy==1.2.1
cycler==0.12.1
debugpy 
decorator 
docker-pycreds==0.4.0
einops==0.8.0
executing 
fasteners==0.19
filelock==3.15.4
flaky==3.8.1
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.6.1
gitdb==4.0.11
GitPython==3.1.43
h5py==3.11.0
idna==3.7
iniconfig==2.0.0
ipykernel 
ipython 
jedi 
Jinja2==3.1.4
joblib==1.4.2
jupyter_client 
jupyter_core 
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline 
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
nest-asyncio 
networkx==3.3
-e git+https://github.com/ashiq24/neuraloperator.git@coda_support#egg=neuraloperator
numcodecs==0.13.0
numpy==2.0.0
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.82
nvidia-nvtx-cu12==12.1.105
opt-einsum==3.3.0
packaging 
parso 
pathspec==0.12.1
pexpect 
pillow==10.4.0
platformdirs 
pluggy==1.5.0
prompt-toolkit 
protobuf==5.27.2
psutil 
ptyprocess 
pure-eval 
pycodestyle==2.12.1
pyg-lib
Pygments 
pyparsing==3.1.2
pytest==8.3.1
pytest-mock==3.14.0
python-dateutil 
PyYAML==6.0.1
pyzmq 
requests==2.32.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-learn==1.5.1
scipy==1.14.0
sentry-sdk==2.10.0
setproctitle==1.3.3
six 
smmap==5.0.1
stack-data 
sympy==1.13.1
tensorly==0.8.1
tensorly-torch==0.5.0
threadpoolctl==3.5.0
torch==2.3.1
torch-cluster==1.6.3
torch-harmonics==0.6.5
torch-sparse==0.6.18
torch-summary==1.4.5
torch_geometric==2.5.3
torch_scatter==2.1.2
torch_spline_conv==1.2.2
torchaudio==2.3.1
torchvision==0.18.1
tornado
tqdm==4.66.4
traitlets
triton==2.3.1
typing_extensions 
urllib3==2.2.2
vit-pytorch==1.7.4
wandb==0.17.5
wcwidth
yarl==1.9.4
zarr==2.18.2
