aiohttp==3.10.11
einops==0.8.0
filelock==3.15.4
fsspec==2024.6.1
GitPython==3.1.43
h5py==3.11.0
joblib==1.4.2
Jinja2==3.1.4
matplotlib==3.9.1
networkx
-e git+https://github.com/ashiq24/neuraloperator.git@codano_rep#egg=neuraloperator
numpy==2.0.0
opt-einsum==3.3.0
protobuf==5.27.2
PyYAML==6.0.1
requests==2.32.3
scikit-learn==1.5.1
scipy==1.14.0
sympy==1.13.1
tensorly==0.8.1
torch
torchaudio
torchvision
tensorly-torch==0.5.0
threadpoolctl==3.5.0
tqdm==4.66.4
typing_extensions
urllib3==2.2.2
vit-pytorch==1.7.4
wandb==0.17.5
yarl==1.9.4
zarr==2.18.2
torch_geometric==2.5.3
torch-cluster==1.6.3
torch-sparse==0.6.18
torch_scatter==2.1.2
